<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, data: {turbo_frame: "new_post"} %>

<%= turbo_frame_tag "new_post" do %>
<% end %>

<div id="post-notice"></div>
  
<%= paginate @posts, views_prefix: :posts  %>

<%= form_with url: "/posts", method: :get do |form| %>
  <%= form.text_field :q %>
  <%= form.submit "Search" %>
<% end %>

<div id="posts">
  <table>
    <thead>
      <th>Title</th>
      <th>Body</th>
      <th>Created At</th>
      <th>Actions</th>
    </thead>
    <tbody id="posts_tbody">
      <% @posts.each do |post| %>
        <%= turbo_frame_tag "edit_post_#{post.id}" do %>
          <%= render "posts/post_row", post: post %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

